:root {
    /* Colors */
    --main-font-color: #262626;
    --active-link-color: #42b983;
    --global-font-size: 24px;
    /* UI */
    --active-button-bg-color: #dedede;

    /* Fonts */
    --ui-font-family: Avenir, Helvetica, Arial, sans-serif;
    --serifed-font-family: "Libre Baskerville", Georgia, serif;
    --serifed-font-family: "Alegreya SC", Georgia, serif;
    --serifed-font-family: "Castoro", Arial, sans-serif;
  }