:root {
    /* Colors */
    --main-font-color: #262626;
    --active-link-color: #42b983;
    --brand-color: #594545;
    --secondary-color: #93BFCF;
    --tertiary-color: #BDCDD6;
    --quadri-color: #EEE9DA;
    --accent-color-strong: #FD8A8A;
    --accent-color: #FECDCD;
    
    /* UI */
    --active-button-bg-color: #dedede;

    /* Fonts */
    --ui-font-family: Avenir, Helvetica, Arial, sans-serif;
    /* --serifed-font-family: "Libre Baskerville", Georgia, serif;
    --serifed-font-family: "Alegreya SC", Georgia, serif; */
    --serifed-font-family: "Castoro", Arial, sans-serif;
    --global-font-size: 24px;

  }